body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #e3f1f2
}

/* From http://cssreset.com/creating-fixed-headers-with-css/*/
/* https://pixabay.com/static/uploads/photo/2015/12/15/23/05/color-blocks-1095089_960_720.png */
.header {
   height:10em;
   background:#e7e1dd;
   border:1px solid #CCC;
   width:100%;
   margin:0px auto;
   background-image: url("images/pastelHeader.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}


.name{
	font-size: 40px;
	text-align: center;
	padding: 1.5em;
}

/* From https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*from http://www.w3schools.com/howto/howto_js_sidenav.asp*/
.containerSide {
    height: auto; 
    width: 20%; 
    position: absolute; 
    display: flex;
    z-index: 1; 
    top: 9%;
    right: 1%; 
    overflow-x: hidden;
    transition: 0.5s; 
    /*http://www.w3schools.com/css/css3_gradients.asp*/
    background-color: #EDF1F7;
    border-left-style: solid;
    border-left-color: blue;
    background-color: rgba(21,79,137,0.7);
    color: white;
}


.containerTop{
	display: flex;
	padding-top: 1%;
}

.profilePhoto {
 	max-width: 442px; 
 	max-height: 449px;
	display: block; 
}

img{
	width: 100%;
}

.aboutMe {
	order: 2;
	margin-left: 1%;
	width: 100%;
	background-color: rgba(98,203,252,0.4);
	margin-right: 22%;
	
}

.history {
	background-color: rgba(98,203,252,0.4);
	margin-right: 22%;
	padding-bottom: 1em;
}

.offer {
	background-color: rgba(98,203,252,0.4);
	margin-right: 22%;
	padding-bottom: 1em;
}


h1{
	padding-left: 5%;
	padding-right: 5%;
	font-family: "Helvetica";	
}

p {
	padding-left: 5%;
	padding-right: 5%;
	font-family: "Palatino";
	
}