body {
	background-color: #f9f2f8;
	/*https://66.media.tumblr.com/6a3086142662d4a781d2b2b2cba7fd78/tumblr_my74ikIkHa1rfjowdo1_500.gif*/
	background-image: url("images/ghosties.gif");
}

/* From http://cssreset.com/creating-fixed-headers-with-css/*/
.header {
   height:10em;
   background:#F0F0F0;
   border:1px solid #CCC;
   margin:0px auto;
   /*From: https://mir-s3-cdn-cf.behance.net/project_modules/disp/e9d40d26810225.5635acac91f14.gif*/
   background-image:url("images/binary.gif");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.name{
	font-size: 40px;
	font-family: "Comic Sans MS";
	text-decoration: bold 4;
	color: red;
	overflow-x: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	margin: 0 auto;
	width: 100%;
	display: 100%;
	animation: marquee 7s linear infinite;
}

/* Marqee from https://codepen.io/jamesbarnett/pen/kfmKa */
@keyframes marquee {
	0% { transform: translate(0%,0); }
	100% { transform: translate(100%, 0); }
}

/* From https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*from http://www.w3schools.com/howto/howto_js_sidenav.asp*/
.containerSide {
    height: 100%; 
    width: 20%; 
    position: absolute; 
    z-index: 1; 
    top: 22%;
    right: 0; 
    overflow-x: hidden;
    transition: 0.5s; 
    /*From: http://i145.photobucket.com/albums/r238/Sockai-chan/Avatars/pikachu-1.png*/
    background-image: url("images/pikachu.png");
}

.containerTop{
	display: flex;
}

.profilePhoto {
	animation: blink-animation 2s steps(5, start) infinite;
	-webkit-animation: blink-animation 2s steps(5,start) infinite;
	order: 1;
 	max-width: 442px; 
 	max-height: 449px;
   display: block;  
}

img{
	width: 100%;
	border: outset;
   border-width: 5px 10px 10px 5px;
   border-color: yellow red green blue;
}

/* Blink from http://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css3*/
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}


.aboutMe {
	order: 2;
	margin: 5%;
	background-color: lightgreen;
	padding-right: 20%;
}

.history {
	background-color: maroon;

}

h1{
	padding-left: 5%;
	padding-right: 5%;
	color: red;	
}

ul{
	padding-left: 8%;
	padding-right: 8%;
}

p {
	padding-left: 5%;
	padding-right: 5%;
	color: black;
	font-family: "Comic Sans MS";
	text-shadow: 1px 1px 5px orange;	
}